Challenges/Codewars 
Challenges/Hackerrank/C
Challenges/Hackerrank/Java
Challenges/Hackerrank/JS
Competition
Courses/Java
Courses/Python/PY4E/Module_1
Courses/Python/PY4E/Module_8 
Courses/Python/PY4E/Module_9
Courses/Python/PY4E/Module_10
Workshops/Python-Basics/Images  