Challenges/Codewars 
Challenges/Hackerrank/C
Challenges/Hackerrank/JS
Competition/2021/Blue/What's the Difference
Courses/Java
Courses/Python/PY4E/Module_1
Courses/Python/PY4E/Module_8 
Courses/Python/PY4E/Module_9
Courses/Python/PY4E/Module_10
Courses/Python/PY4E/Module_11
Courses/Python/PY4E/Module_12
Courses/Python/PY4E/Module_13
Courses/Python/PY4E/Module_14
Courses/Python/PY4E/Module_15
Courses/Python/PY4E/Module_16
Courses/Python/PY4E/code3
Courses/Python/DJ4E
Workshops/Python-Basics/Images  
Workshops/Competition-Challenges
Workshops/Programming-Projects